.background {
  background-image: url('static/background.png');
  background-size: cover; 
  height: 100vh;
}

.bg-container {
  background-image: url('static/bg-container.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; 
  height: 100vh;
}

.gim-left {
  position: absolute;
  height: 70%;
  top: 200px;
  left: -20px;
}

.gail-right {
  position: absolute;
  height: 70%;
  top: 200px;
  right: -20px;
}

.main-column {
  padding-top: 120px !important;
  /*max-width: 600px;
  width: 10% !important;
  margin: 0 auto;*/
}

.columns {
  margin: 0 auto !important;
}

.scrolling {
  overflow: auto;
  max-height: 500px;
}

.correct-answer {
  font-size: 50px;
  background: #3B76D5;
  border-radius: 10px;
  color: white;
}
