.background {
  background-image: url('static/background.png');
  background-size: cover; 
}

.bg-container {
  background-image: url('static/bg-container.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center; 
  height: 95vh;
}

.gim-left {
  position: absolute;
  height: 680px;
  top: 200px;
  left: -20px;
}

.gail-right {
  position: absolute;
  height: 680px;
  top: 200px;
  right: -20px;
}

/*.gim-left {
  position: absolute;
  top: 200px;
  float: right;
  width: 300px;
  padding-top: 50px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('static/gim-left.png');
  background-size: 300px;
  background-position-y: 180px
}

.gail-right {
  position: absolute;
  top: 200px;
  float: right;
  width: 300px;
  padding-top: 50px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('static/gail-right.png');
  background-size: 350px;
  background-position-y: 180px
}*/

/*
.gail-right {
  position: absolute;
  top: 220px;
  float: left;
  width: 330px;
}*/

.main-column {
  padding-top: 120px !important;
 
}

.columns {
  max-width: 800px !important;
  margin: 0 auto !important;
}

.scrolling {
  overflow: auto;
  max-height: 500px;
}